@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&disp");
/* cor primaria do projeto #0d6efd */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #262b37 !important;
}

/* Navbar */
#nav {
  padding: 2.2rem;
  position: relative;
  height: 13vh;
}

.navbar .nav-link {
  color: white !important;
}

.navbar .nav-link:hover {
  color: rgb(36, 22, 237) !important;
}

.navbar-collapse {
  flex-grow: unset !important;
}

#profile {
  width: 50px;
  height: auto;
}

button a {
  text-decoration: none;
  color: white;
  font-weight: 200px;
}

.quadrado-completo {
  display: none;
  color: white;
}

.quadrado-completo p {
  font-size: 15px;
  margin-bottom: 5px;
}

.triangulo-para-cima {
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 18px solid rgba(0, 0, 0, 0.322);
  position: absolute;
  bottom: 2%;
  right: 3.7%;
}

.quadrado-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0d6efd;
  width: 100px;
  height: 100px;
  position: absolute;
  right: 1.7%;
  top: 86%;
  z-index: 10;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.322);
}

.modal-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.43) !important;
}

#logo {
  width: 100px;
  height: auto;
  margin-right: 11%;
}

#profile:hover {
  cursor: pointer;
}

.modal-body {
  display: flex;
  justify-content: center !important;
  gap: 5% !important;
}

.modal-body button {
  font-weight: 550;
  border-width: 1.9px;
}

.modal-title {
  color: white;
}

.modal-content {
  background-color: #0052ce !important;
  border-color: rgba(0, 0, 0, 0.488);
}

/* Main */
main {
  display: grid;
  grid-template-areas:
    "tabelas aoVivo"
    "resultado estatisticas";
  gap: 35px;
  padding: 50px;
  grid-template-columns: 2fr 1fr;
}

/* Tabelas Campeonatos */
.tabelas {
  grid-area: tabelas;
  width: 90%;
  display: flex;
  flex-direction: column;
}

#ladoEsquerdo {
  margin-left: 3%;
}

.classificacao {
  margin-left: -24%;
}

.camp-logo {
  width: 45px;
  height: auto;
}

.cabecalho-tabela {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem; /* Espaço abaixo do cabeçalho, ajustável conforme necessário */
  z-index: 2; /* Garante que o cabeçalho fique sobre o carregamento */
  position: relative; /* Garante que o z-index funcione corretamente */
}

.ult-jogos {
  margin-left: 8%;
}

.titulos-componentes {
  color: #fff;
  margin-left: 1%;
  text-transform: uppercase;
}

#borda-tabela {
  height: 26rem;
  padding: 2.7%;
  padding-right: 3%;
  border-radius: 15px;
  background-color: #262b37;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  position: relative;
  overflow: hidden; /* Garante que o conteúdo não extrapole as bordas */
}

.table-group-divider {
  border-top: 2px solid white !important;
}

.table > :not(caption) > * > * {
  background-color: #262b37 !important;
  color: #fff !important;
}

.tabelas h5 {
  color: white;
  font-weight: 400 !important;
}

[data-tabela="2"],
[data-tabela="3"] {
  display: none;
}

#verMenos {
  display: none;
  border-top: none;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  background-color: #0d6efd;
  color: white;
  font-weight: 600;
}

#verMais {
  border-top: none;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  background-color: #0d6efd;
  color: white;
  font-weight: 600;
}

#verMais img {
  filter: invert(1);
  width: 25px;
  margin-bottom: 2px;
}

#verMenos img {
  filter: invert(1);
  width: 25px;
  margin-bottom: 2px;
  rotate: 180deg;
}

#verMais:hover img {
  filter: invert(41%) sepia(99%) saturate(589%) hue-rotate(192deg)
    brightness(99%) contrast(98%);
}

#verMais:hover {
  border-top: none;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  background-color: rgb(19, 19, 19);
  color: #0d6efd;
}

#verMenos:hover img {
  filter: invert(41%) sepia(99%) saturate(589%) hue-rotate(192deg)
    brightness(99%) contrast(98%);
}

#verMenos:hover {
  border-top: none;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  background-color: rgb(19, 19, 19);
  color: #0d6efd;
}

/* Loading */
#loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; /* Permite centralizar o conteúdo */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.44
  ); /* Fundo branco com leve transparência */
  border-radius: 15px; /* Para combinar com o contêiner principal */
  z-index: 1; /* Garante que o carregamento fique atrás dos conteúdos principais */
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

th,
td {
  text-align: center !important;
  font-size: 1rem;
}

img {
  width: 30px;
  height: 30px;
}

aside,
section h1 {
  font-size: 1.5rem;
  color: #0d6efd;
  font-weight: 600;
}

aside,
section h5 {
  font-size: 1.1rem;
}

/* Bolinhas */
.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 9px 0 0 7px;
}

.circle-container {
  display: flex;
}

.circle.circle-gray {
  background-color: #a7a7a7;
}

.circle.circle-green {
  background-color: #127315;
}

.circle.circle-red {
  background-color: #b50000;
}

/* Variação da posição */
.square {
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: gray;
}

.arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.arrow.up {
  border-bottom: 10px solid #127315;
}

.arrow.down {
  border-top: 10px solid #b50000;
}

/* Jogos ao vivo */
container {
  width: 300px;
  height: 600px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background-color: #a59e9e9c;
  margin-left: 150px;
}

.team {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.team-name {
  min-width: 100px; /* Define a largura mínima para os nomes dos times */
  text-align: left;
  font-size: 15px;
}

.team-score {
  font-weight: bold;
  font-size: 1.5em;
  margin-left: 30px;
  cursor: pointer;
}

.team-logo {
  width: 35px;
  height: auto;
}

.cartao {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  width: 15px;
  height: 20px;
  padding: 5px;
  font-size: 14px;
  color: #525252;
  cursor: pointer;
}

.cartao-amarelo {
  display: none;
  background-color: yellow;
}

.cartao-vermelho {
  display: none;
  background-color: red;
}

.title-liga {
  font-size: 16px !important;
}

.resultado-partida {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eventos-jogo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.subs {
  display: none;
  width: 18px;
  height: 18px;
  filter: invert(1);
  cursor: pointer;
}

.seta-verde {
  color: green; /* Cor para a seta que indica que o jogador entrou */
}
.seta-vermelha {
  color: red; /* Cor para a seta que indica que o jogador saiu */
}

.infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tempo {
  display: flex;
  align-items: center;
  padding: 2px;
  background-color: #0d6efd;
  border-radius: 2px;
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.acrescimo {
  margin-right: 40px;
}

.minuto {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

/* Resultado das Rodadas */
#result-jogadas {
  grid-area: resultado;
  border-radius: 10px;
  background-color: #262b37;
  padding: 20px;
  width: 92.5%;
  color: white;
}

.resultados {
  margin-left: 10%;
}

.jogos-ao-vivo {
  grid-area: aoVivo;
  border-radius: 10px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  margin: 20px;
  filter: blur(5px);
}

.imgs {
  width: 100%; /* ou outro valor */
}

.retangulo {
  background-image: linear-gradient(60deg, black 50%, red 50%);
  width: 450px;
  height: 50px;
  position: relative;
  margin-left: 25px;
}

.retangulo-menor {
  width: 500px;
  height: 30px;
  background-color: #767575;
  margin-top: 0px;
  border-radius: 0 0 10px 10px;
}

.visitante {
  position: absolute;
  bottom: -5px;
  left: -25px;
}

.mandante {
  position: absolute;
  right: -25px;
  bottom: -5px;
}

.campeonato {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.data {
  margin: 15px;
}

.horario {
  margin-left: 140px;
}

.nome-time {
  color: azure;
  margin: 15px;
}
.nome-time-visitante {
  color: azure;
  margin-left: 30px;
}

.placar-visitante {
  margin-left: 35px;
  margin-right: 10px;
}

.placar-mandante {
  margin-left: 10px;
  margin-right: 35px;
}
.vs {
  color: azure;
  margin-left: 5px;
  margin-right: 5px;
}

.nome-time-mandante {
  color: azure;
}

#ao-vivo {
  width: 100%;
  border-radius: 10px;
  padding: 4%;
  border-radius: 15px;
  background-color: #262b37;
  position: relative;
  overflow: hidden;
  color: white;
  max-height: 465px;
  overflow-y: auto;
}

/* Personalizando a barra de rolagem */
#ao-vivo::-webkit-scrollbar {
  width: 18px; /* Largura da barra de rolagem */
}

#ao-vivo::-webkit-scrollbar-track {
  background: #282b311b; /* Cor do fundo da barra de rolagem (track) */
}

#ao-vivo::-webkit-scrollbar-thumb {
  background-color: #0d6efd; /* Cor da barra de rolagem (thumb) */
  border-radius: 10px;
  border: 2px solid transparent; /* Espaçamento ao redor da barra */
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); /* Efeito de sombra 3D */
}

#ao-vivo::-webkit-scrollbar-thumb:hover {
  background-color: #1254b8; /* Cor ao passar o mouse */
}
/* Estatísticas do campeonato */
#estatisticas-camp {
  grid-area: estatisticas;
  border-radius: 10px;
  padding: 5%;
  border-radius: 15px;
  color: white;
  position: relative;
  overflow: hidden; /* Garante que o conteúdo não extrapole as bordas */
}

#loadingClass > h2 {
  font-size: 19px;
  font-weight: bold;
}

.primeiro-estatisticas {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 6px;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.11);
  border-radius: 6px;
}

.primeiro-estatisticas p {
  margin-bottom: 0;
}

.primeiro-estatisticas h1 {
  font-weight: 100;
  font-size: 20px;
  margin-bottom: 0;
  color: white;
}

.img-jogador-um {
  width: 100px;
  margin-bottom: 5px;
  border-radius: 100%;
  border: 2.5px solid #1672fd;
  height: auto;
}

#logoTimeJogadorUm {
  width: 17px;
  margin-right: 3px;
  height: auto;
}

.estatisticas-table-um {
  display: flex;
}

#table-result-um td {
  font-size: 13.5px;
  padding: 4px;
}

#table-result-um {
  margin-bottom: 0px;
}

.perfil-jogador-um {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 280px;
}

.nota {
  position: absolute;
  width: 35px;
  top: 5px; /* Ajusta a posição vertical */
  left: -10px; /* Ajusta a posição horizontal */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d6efd;
  border-radius: 15px;
  z-index: 10;
  border: 2.5px solid #0d6efd;
}

.nota p {
  font-size: 13px;
  font-weight: 600;
  color: white;
}

.barra-vertical {
  height: 145px;
  border: 1px solid rgba(255, 255, 255, 0.11);
  margin-right: 5%;
}

.tabela-estatisticas {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.11);
  border-radius: 6px;
}

.perfil-jogador-estatistica {
  display: flex;
  align-items: center;
}

.perfil-jogador-estatistica p {
  margin-bottom: 0;
}

.nota-tabela-estatisticas {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d6efd;
  border-radius: 5px;
  z-index: 10;
  border: 2.5px solid #0d6efd;
}
.nota-tabela-estatisticas p {
  font-size: 14px;
  margin-bottom: 0;
  color: white;
}

.img-jogador-estatisticas {
  width: 45px;
  border-radius: 100%;
  border: 2px solid #1672fd;
  height: auto;
}

.perfil-jogador-estatisticas {
  display: flex;
  align-items: center;
}
.perfil-jogador-estatisticas p {
  font-size: 17px;
  margin: 0 0 0 10px;
}

.posicao-estatisticas {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -6px;
  left: -7px;
  background-color: #0d6efd;
  border-radius: 5px;
  z-index: 10;
  border: 2.5px solid #0d6efd;
}

.posicao-estatisticas p {
  font-size: 16px;
  color: white;
  margin-bottom: 0;
}
